.Login {
  min-height: 100vh;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login p {
  padding: 10px;
}
.Login .logo {
  height: 6rem;
}
@media (prefers-reduced-motion: no-preference) {
  .Login .logo {
    animation: spin-360 infinite 20s linear;
  }
}

.Login .title {
  transition: 350ms ease-in-out;
  font-size: 5rem;
}
.Login input{ 
    border: none;
    width: 100%;
    height: 40px;
    background-color: transparent;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    opacity: 1;
}
.Login input::placeholder{ 
    text-align: center;
    font-size: 1.3rem;
    opacity: 1;
    color: white;
}
.Login input::-ms-reveal {
    filter: invert(100%);
}
.Login input:focus{ 
    outline: none;
}
.Login .username,
.Login .password,
.Login .login-button {
  width: 75%;
  max-width: 650px;
  border: 1px solid #74c6e2;
  border-radius: 7px;
  margin: 10px;
  padding: 5px;
  background-color: #112f41;
}

.Login .login-button {
  padding: 0;
  max-height: 3rem;
  font-size: 1.7rem;
  font-weight: 700;
  border-color: #4d8396;
  background-color: #74c6e2;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Login .social-icons {
  width: 70%;
  max-width: 400px;
  display: flex;
  justify-content: space-around;
  margin: 10px 0 0 -10px;
}

@media (max-width: 360px) {
  .Login .title {
    transition: 210ms ease-in-out;
    font-size: 4rem;
  }
}
