.ComingSoon {
  text-align: center;
}

.ComingSoon-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .ComingSoon-logo {
    animation: spin-360 infinite 20s linear;
  }
}

.ComingSoon .coming-soon{ 
  font-size: 30px;
}

.ComingSoon-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ComingSoon-link {
  color: #61dafb;
}

